html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin-top: 150px;
  text-align: center;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif,
    'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
}
button {
  display: inline-block;
  width: 200px;
  height: 50px;
  margin: 20px;
  font-size: 25px;
  font-weight: 700;
  /* background-color: aqua; */
}
button:focus,
button:hover {
  background-color: rgb(170, 63, 241);
}

#disabled button:focus,
#disabled button:hover {
  background-color: rgb(95, 233, 14);
}
#disabled button {
  display: inline-block;
  width: 200px;
  height: 50px;
  margin: 20px;
  font-size: 25px;
  font-weight: 700;
  /* background-color: rgb(127, 143, 122); */
}
#disabled {
  height: 200px;
  border: 3px solid #000000;
}
